.carousel {
  width: 900px;
  height: 500px;
  margin: auto;
  width: 100%;
  height: auto;
}
.carousel > img {
  margin: 0 auto;
}
h3 {
  color: black;
}
.CarouselWraper {
  max-width: 600px;
  margin: 0 auto;
}
.cardWrapper {
  margin: 20px auto;
  max-width: 1100px;
}
