body{
  display: flex;
}
.logo{
    display: flex;
}
.navbar-form input[type=text] {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  .form-inline {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
