body {
    padding-top: 1px; /* Whatever the height of your navbar is; the
                             default is 50px */
}
.d-inline-block {
    padding-top: 5px;
    display:flex;
}
/* .NavLink{
    margin-left : 1em;
    margin-right : 1em;
} */
